<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>
    <div class="container">
        <canvas id="canvas" width="320" height="480">
        </canvas>
    </div>
    <p>
        <span>x</span> <span id="x"></span>
    </p>
    <p>
        <span>y</span> <span id="y"></span>
    </p>
    <p id="egg"></p>
</body>

</html>